<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments :: styleLinks" th:remove="tag"></th:block>
    <meta charset="UTF-8">
    <title>Participants</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>


<div class="content-container">
    <div class="container">
        <div class="row col-12">
            <div class="row col-12">
                <h1 th:text="'Participants ofgit s '+ ${event.getName()}"></h1>
            </div>
        </div>
    </div>
</div>

<div class="content-container">

    <div class="row col-12 list-header-row">
        <div class="col-3"> Username</div>
    </div>

    <div th:each="participant : ${participants}">
        <div  class="row col-12 list-row">
            <div class="col-6" th:text="${participant.getAccount().getUsername()}"></div>
            <div class="col-3" th:if="${!event.getEventOrganizer().equals(participant.getAccount())}">
                <a th:href="@{'/invitation/ignore/event/' + ${participant.getId()}}">
                    <button class="btn btn-outline-danger"> Remove
                    </button>
                </a>

            </div>

        </div>
    </div>
</div>


<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>