<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments :: styleLinks" th:remove="tag"></th:block>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>

<form th:action="@{/group/add}" method="post" th:object="${group_to_edit}">
    <div class="content-container">
        <div class="container">
            <div class="row col-12">
                <div class="row col-12">
                    <h1>Group form</h1>
                </div>

                <input type="hidden" th:field="*{id}" th:value="*{id}">
                <input type="hidden" th:field="*{groupManager}" th:value="*{groupManager}">
                <input type="hidden" th:field="*{memberships}" th:value="*{memberships}">
                <input type="hidden" th:field="*{events}" th:value="*{events}">

                <div class="row col-12">
                    <div class="col-6">
                        <label for="content">Name:</label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" id="content" type="text" th:field="*{name}" th:value="*{name}">
                    </div>
                </div>


                <div class="row col-12">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>